.condition {
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #55c0df;
  background-color: #f0fcff;
  font-family: Arial;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  cursor: default;
  text-align: center;
  vertical-align: middle;
}

.condition-title {
  background-color: #f0fcff;
  color: #3387a0;
  padding-right: 5px;
}

.condition-content {
  display: 'inline-block';
  background-color: '#ffffff';
  border-left: solid 1px #55c0df;
  border-right: solid 1px #55c0df;
  padding: 3px 10px 3px 10px
}

.condition-close-icon {
  border-radius: 3px;
  color: #3387a0;
  &:hover {
    box-shadow: 0 0 1px 0 #3387a0
  }
}

.condition-close-button {
  margin: 0 0 0 5px;
  vertical-align: middle;
}


