.Header {
  display: flex;
  background-color: #e4f5e1;
  color: #1e8c45;
  padding: 4px 5px 4px 5px;
  font-family: Arial;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  cursor: default;
}

.Header__Label {
  width: 100%;
}

.Header__Icon {
  margin: 0 10px 0 0;
}

.Header__Button {
  justify-content: flex-end;
  border-radius: 3px;
  float: right;
  &:hover {
    box-shadow: 0 0 1px 0 #1e8c45
  }
}
