$green-palette: (
  "text": #1e8c45,
  "border": #77dd66,
  "background": #e4f5e1,
  "shadow": #1e8c45
);

$blue-palette: (
  "text": #3387a0,
  "border": #55c0df,
  "background": #f0fcff,
  "shadow": #3387a0
);

$orange-palette: (
  "text": #3387a0,
  "border": #55c0df,
  "background": #f0fcff,
  "shadow": #3387a0
)
