.inline-element {
  background-color: #f0fcff;
  color: #3387a0;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px #55c0df;
  font-family: Arial;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  cursor: default;
  text-align: center;
  vertical-align: middle;
}

.inline-element-content {

}

.inline-element-title {
  border-left: solid 1px #55c0df;
  border-right: solid 1px #55c0df;
  padding: 0px 5px 0px 5px;
}

.inline-element-close-button {
  vertical-align: middle;
  color: #3387a0;
  margin-bottom: 2px;
  &:hover {
    box-shadow: 0 0 1px 0 #3387a0
  }
}

.inline-element-icon {
  vertical-align: middle;
  padding-right: 3px;
  color: #3387a0
}
